body, html {
  height: 100%;
  margin: 0;
}

.bg-image { 
  
  background-image: url('images/motcombe-pool-min.jpg'); 
  
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  

  


.front-header {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(9, 58, 104);
  font-size: 60px;
  font-weight:bolder;
  text-align: center;
  position: relative;
  top: 30px;
  
  

}

.established{
  font-size: 45px;
  color: white;
}

.cic{
  font-size: 24px;
  color: white;
}

.menu-text{
  font-size: 18px;
  font-weight: bolder;
  
}

.full-width-div {
  position: absolute;
  width: 100%;
  left: 0;
}

.about-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.appreciation-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56%;
}

.trusted-supporters-picture{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 58%;
}


.about-text{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.about-map{
  border-style: solid;
}

.old-images{
  width: 95%;
  margin: 20px;
  padding: 0px;
  border: 3px solid #555;
  border-radius: 20px;
}

.plan-images{
  width: 95%;
  margin: 20px;
  padding: 0px;
  border: 3px solid #555;
  border-radius: 20px;
}

.news{
  margin-left: 20%;
  width: 60%;
  text-align: justify;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;

}

.news-header {
  margin-left: 20%;
  width: 60%;
  text-align: justify;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.news-accordian {
  margin-left: 20%;
  width: 60%;
}

.news-signup {
  margin-left: 35%;
  width: 60%;
}

.friends{
  margin-left: 25%;
  width: 50%;
  text-align: justify;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;

}

.friends-header {
  margin-left: 25%;
  width: 60%;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-style {
  
  color: white;
  
}

.footer-header {
  font-size: 20px;
  font-weight: bolder;
}

.footer-text {
  font-size: 14px;
}

.footer-anchor {
  color: white;

}

.footer-copyright {
  font-size: 12px;
}

.test {
  
}